""" Map leader to space ---------------------
let mapleader=" "

""" Plugins ---------------------------------
set NERDTree
set argtextobj
set textobj-entire

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" Common settings -------------------------
set number
set relativenumber
set clipboard=unnamedplus
set clipboard+=ideaput
set showmode
set ruler
set so=4
set incsearch
set nu
map Q gq
set showmatch

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep
set ideamarks

""" Mappings --------------------------------
nmap <Leader>w :w<CR>
nmap <Leader>q :q<CR>

:map ;d <Action>(Debug)
:map ;s <Action>(Stop)
:map ;r <Action>(Run)

:map <C-l> <Action>(NextTab)
:map <C-h> <Action>(PreviousTab)

:map ;r <Action>(RenameElement)
:map <leader>fm <Action>(RemformatCode)
:map gu <Action>(FindUsages)
:map ;f <Action>(GotoFile) # Fuzzyfind
:map gc <Action>(GotoClass)
:map gne <Action>(GotoNextError)
:map <leader>e <Action>(ShowErrorDescription)
:map ;d <Action>(QuickJavaDoc)

:map <leader>k <Action>(ToggleFullScreen)
:map ;t <Action>(ActivateTerminalToolWindow)

:map <leader>t :NERDTreeFind<CR>

:map <leader>/ <Action>(CommentByLineComment)
:vmap <S-k> <Action>(MoveLineUp)
:vmap <S-j> <Action>(MoveLineDown)
